.section__header {
    text-align   : center;
    margin-top   : 8rem;
    margin-bottom: 5.33rem;

    h2 {
        font-family   : 'Montserrat', sans-serif;
        font-size     : 2.66rem;
        font-weight   : 700;
        text-transform: uppercase;
        margin-bottom : 1.33rem;
    }

    h3 {
        font-family: 'PT Serif', serif;
        font-size  : 1.06rem;
        font-style : italic;
        font-weight: 400;
        color      : @subheader_color;
    }

    &--dark {
        color: #fff;
    }
}

.btn {
    font-family   : 'Montserrat', sans-serif;
    font-size     : 1.2rem;
    font-weight   : 700;
    text-transform: uppercase;

    padding: 1.4rem 3rem;

    background: @gold;
    color     : @white;


    border       : 1px solid @gold;
    border-radius: 3px;

    outline: none;

    cursor: pointer;

    &:active {
        box-shadow: 1px 1px 10px 1px #777777;
    }

    &--sm {
        text-decoration: none;
        font-size      : 0.8rem;
        padding        : 1rem 2rem;
        border         : 2px solid @gold;
        background     : none;
    }
}

.form__input {
    width        : 30.33rem;
    height       : 3.33rem;
    border       : none;
    border-radius: 3px;
    outline      : none;
    margin-bottom: 30px;
    padding      : 0 20px;
    box-sizing   : border-box;

    &::placeholder {
        font-family   : 'Montserrat', sans-serif;
        font-size     : 0.93rem;
        color         : #bbbbbb;
        text-transform: uppercase;
        text-indent   : 0px;
        transition    : text-indent 0.3s ease;
    }

    &:focus::placeholder {
        text-indent: 500px;
    }

    &--mb {
        margin-bottom: 30px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.form__textarea {
    height: 100%;
    width : 455px;

    box-sizing: border-box;
    padding   : 20px;

    border       : none;
    border-radius: 3px;
    outline      : none;

    position: relative;
    z-index : 100;

    &::placeholder {
        font-family   : 'Montserrat', sans-serif;
        font-size     : 0.93rem;
        color         : #bbbbbb;
        text-transform: uppercase;
        opacity       : 1;
        transition    : opacity 0.3s ease;
    }

    &:focus::placeholder {
        opacity: 0;
    }
}

.social__icon {
    width          : 40px;
    height         : 40px;
    border         : 3px solid #000;
    border-radius  : 50%;
    display        : flex;
    justify-content: center;
    align-items    : center;

    .svg-icon {
        width : 20px;
        height: 20px;
        fill  : #000;

    }

    &:hover {
        .svg-icon {
            fill: #fff;
        }
    }

    &--dark {
        background: #000;

        .svg-icon {
            fill: #fff;
        }
    }

    &--mr {
        margin-right: 10px;

        &:last-child {
            margin-right: 0;
        }
    }

}

.twitter:hover {
    background: #00aced;
    border    : 3px solid #00aced;
}

.facebook:hover {
    background: #3b5998;
    border    : 3px solid #3b5998;
}

.pinterest:hover {
    background: #cb2028;
    border    : 3px solid #cb2028;
}

.google:hover {
    background: #da2713;
    border    : 3px solid #da2713;
}